body {
    color: white;
    margin: 0;
    padding: 0;
}

/* HEADER */

ul {
    background-color: green;
    margin: 0;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
}

li {
    display: block;
    float: left;
    padding: 20px;
    text-align: center;
}

.about {
    margin-left: 30px;
}

.contact {
    float: right;
}

/* COVER */

.cover {
    background-color: pink;
    height: 500px;
    position: relative;
}

/* COVER TEXT */

.cover-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PROJECT GRID */

.project-grid {
    background-color: rgb(139, 139, 231);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    padding: 30px;
}

.project-grid img {
    height: 150px;
    background-color: grey;
    padding: 70px 60px;
}

.footer {
    background-color: yellow;
    height: 50px;
    text-align: center;
}